.card{

     height: 60vh;
     margin-top: 70px;
     padding: 25px;
}

.center{

      text-align: center;
      top:50%;
      left:50%;
      transform: translate(-50% , -50%);
      position: absolute;
}

.image1{

     width: 300px;
     height: 200px;
}

.card-table {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}